{{template "admin" .}}

{{define "page-title"}}
    Reservation Calendar
{{end}}

{{define "content"}}
    {{$now := index .Data "now"}}
    {{$rooms := index .Data "rooms"}}
    {{$dim := index .IntMap "days_in_month"}}
    {{$curMonth := index .StringMap "this_month"}}
    {{$curYear := index .StringMap "this_month_year"}}

    <div class="col-md-12">


        <div class="text-center">
            {{/* formatDate функция которая передается в шаблон в render.go */}}
            <h3>{{formatDate $now "January"}} {{formatDate $now "2006"}}</h3>
        </div>

        <div class="float-start">
            <a class="btn btn-sm btn-outline-secondary"
               href="/admin/reservations-calendar?y={{index .StringMap "last_month_year" }}&m={{index .StringMap "last_month"}}">&lt;&lt;</a>
        </div>

        <div class="float-end">
            <a class="btn btn-sm btn-outline-secondary"
               href="/admin/reservations-calendar?y={{index .StringMap "next_month_year" }}&m={{index .StringMap "next_month"}}">&gt;&gt;</a>
        </div>

        <div class="clearfix"></div>

        <form method="post" action="/admin/reservations-calendar">
            <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
            <input type="hidden" name="m" value="{{index .StringMap "this_month"}}">
            <input type="hidden" name="y" value="{{index .StringMap "this_month_year"}}">


            {{/* fun */}}
            {{range $rooms}}
                {{$roomID := .ID}}
                {{/* Знак $.Data означает что мы обращаемся к переменной глобальной не относящейся к тому что внутри rooms */}}
                {{/* $blocks = ['2020-02-01' : 2] (2 - id блокировка номера админом) */}}
                {{$blocks := index $.Data (printf "block_map_%d" .ID)}}
                {{$reservations := index $.Data (printf "reservation_map_%d" .ID)}}
    
                <h4 class="mt-4">{{.RoomName}}</h4>
    
                <div class="table-responsive">
                    <table class="table table-bordered table-sm">
                        <tr class="table-dark">
                            {{range $index := iterate $dim}}
                                <td class="text-center">
                                    {{/* Добавление единицы каждый шаг */}}
                                    {{add $index 1}}
                                </td>
                            {{end}}
                        </tr>
    
                        <tr>
                            {{/* iterate $dim - вызывает функцию iterate, которая генерирует последовательность чисел от 0 до $dim-1
                              (где $dim - количество дней в месяце) */}}
                            {{range $index := iterate $dim}}
                                {{$day := printf "%02d" (add $index 1)}}
                                {{$dateKey := printf "%s-%s-%s" $curYear $curMonth $day}}
                                <td class="text-center">
                                    {{if gt (index $reservations $dateKey) 0 }}
                                        <a href="/admin/reservations/cal/{{index $reservations $dateKey}}/show?y={{$curYear}}&m={{$curMonth}}">
                                            <span class="text-danger">R</span>
                                        </a>
                                    {{else}}
                                     <input
                                        {{/* gt - это функция Go template, которая означает "greater than" (больше чем).
                                        Она сравнивает два значения и возвращает true, если первое значение больше второго.
                                        index $blocks ... - обращается к элементу мапы $blocks по указанному ключу.
                                        $blocks - это мапа, где ключи - это даты в формате "год-месяц-день", а значения - числовые идентификаторы блокировок.
                                        printf "%s-%s-%d" $curYear $curMonth (add $index 1) формирует строку-ключ для мапы
                                        add $index 1 - добавляет 1 к текущему индексу (поскольку дни обычно нумеруются с 1, а не с 0)
                                        Если значение из мапы $blocks по сформированному ключу больше 0 (то есть для этого дня есть блокировка), то: checked */}}
                                        {{/* name будет в формате "remove_block_1_2023-07-5" (удаление блокировки) value будет содержать ID блокировки*/}}
                                        {{if gt (index $blocks $dateKey) 0 }}
                                            checked
                                            name="remove_block_{{$roomID}}_{{printf "%s-%s-%d" $curYear $curMonth (add $index 1)}}"
                                            value="{{index $blocks (printf "%s-%s-%d" $curYear $curMonth (add $index 1))}}"
                                        {{else}}
                                            name="add_block_{{$roomID}}_{{printf "%s-%s-%d" $curYear $curMonth (add $index 1)}}"
                                            value="1"
                                        {{end}}
                                             type="checkbox">
                                     {{end}}
                                </td>
                            {{end}}
                        </tr>
                    </table>
                </div>
        {{end}}

        <hr>
        <input type="submit" class="btn btn-primary" value="Save Changes">
        </form>
    </div>
{{end}}